.wishList-section{
    background-color: var( --accent-color-3);
    border-radius: 0.8rem;
}

.big-deal-product-data {
    background-color: #ffff;
    border-radius: 0.5rem;
    border: 3px solid var(--accent-color-1);
  }
  
  .big-deal-product-big-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .big-deal-product-big-tag {
    display: flex;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #ffff;
    padding: 0.4rem 0.5rem;
  }
  
  .big-deal-product-big-tag span {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-align: center;
  }
  
  .big-deal-product-wish {
    display: flex;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #ffff;
    padding: 0.4rem 0.5rem;
  }
  
  .big-deal-product-slider {
    margin-bottom: 1rem;
  }
  
  .big-deal-product-swiper {
    width: 100%;
  }
  
  .big-deal-product-swiper-slider img {
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
    padding: 10px;
  }
  
  .big-deal-product-detail {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 500;
    color: #1a1818;
    text-overflow: ellipsis;
  }
  
  .big-deal-info {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .big-deal-price {
    display: flex;
    align-items: center;
  }
  
  .big-deal-price span {
    margin-right: 0.5rem;
  }
  
  .big-deal-price strong {
    font-size: 1.5rem;
  }
  .big-deal-detail-data {
    line-height: 1.5;
    max-height: 2.6em;
    font-size: 1rem;
    font-weight: 500;
    white-space: wrap;
    color: #1a1818;
    text-overflow: ellipsis;
  }
  .big-deals-header {
    flex: 1 1 0%;
    display: inline-flex;
    flex-direction: row;
    max-width: 90%;
  }
  .big-deals-btn a{
    font-size: 1.2rem;
    font-weight:500;
}
.products-wish{
  margin: 1rem;
  overflow: hidden;
  display: flex;
  -moz-box-align: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #ffff;
  padding: 0.4rem 0.5rem;
}
.wishlist-actions button{
    font-size: 0.8rem;

}

/* empty wishlist */
.empty-wish{
  text-align: center;
}
.empty-wish fa-icon{
  color:#8d9db3;
  font-size: 3rem;
}
.empty-wish p{
  font-weight: 600;
  color: #1a1818;
}
.empty-wish span{
  color: #8d9db3;
}