<div class="container">
  <div class="row m-3">
    <!-- latest-product -->
    <div class="col-md-5 my-2">
      <a href="#">
        <div class="latest-product-section">
          <div class="lastest-prodcut-header p-3" style="background-image: url(../../../assets/images/bag.jpg);">
            <h1 class="latest-product-info px-3 py-2">latest product</h1>
          </div>
        </div>
      </a>
    </div>

    <!-- 50%-0ff-products -->
    <div class="col-md-7 my-2">
     <a href="#">
      <div class="arrival-prodcut-header p-3 " style="background-image: url(../../../assets/images/clothes.jpg);">
        <h1 class="off-product-info px-3 py-2 ">new arrival</h1>
      </div>
     </a>
    </div>
  </div>
  <div class="row m-3">
    <!-- new-arrival -->
    <div class="col-md-7 my-2">
     <a href="#">
      <div class="best-prodcut-header p-3"style="background-image: url(../../../assets/images/perfume.jpg);">
        <h1 class="latest-product-info px-3 py-2">best seller</h1>
      </div>
     </a>

    </div>

    <!-- best-seller -->
    <div class="col-md-5 my-2">
    <a href="#">
      <div class="lastest-prodcut-header p-3" style="background-image: url(../../../assets/images/lamp.jpg);">
        <h1 class="latest-product-info px-3 py-2">Top Rated</h1>
      </div>
    </a>

    </div>

  </div>
</div>