<div class="container mt-5 my-5">
  <div class="h6 text-uppercase">Change Password</div>
  <hr class="hr" />
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()"
    class="row align-items-center justify-content-center"
  >
    <div class="row align-items-center justify-content-center flex-column mt-5">
      <div class="mb-3 col-12 col-md-4">
        <label for="password" class="form-label">New Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <div
          *ngIf="
            changePasswordForm.get('password')?.errors &&
            changePasswordForm.get('password')?.dirty
          "
        >
          <small
            class="text-danger"
            *ngIf="changePasswordForm.get('password')?.hasError('required')"
            >New Password is required.</small
          >
          <small
            class="text-danger"
            *ngIf="changePasswordForm.get('password')?.hasError('minlength')"
            >New Password must be at least 8 characters long.</small
          >
        </div>
      </div>
      <div class="mb-3 col-12 col-md-4">
        <label for="confirmPassword" class="form-label"
          >Confirm New Password</label
        >
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          formControlName="confirmPassword"
        />
        <div
          *ngIf="changePasswordForm.errors?.['mismatch'] && (changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)"
          class="text-danger"
        >
          <small class="text-danger">Passwords do not match.</small>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-dark col-md-4"
      [disabled]="changePasswordForm.invalid"
    >
      Change Password
    </button>
  </form>
</div>
