<div class="container-fluid">
  <div class="row gx-0 align-items-center justify-content-center my-5">
    <div class="col-md-7">
      <app-product-slider></app-product-slider>
    </div>
    <div class="col-md-5">
      <div class="product-description-section">
        <div
          class="prodcut-description-data d-flex flex-column justify-content-evenly"
        >
          <div class="product-description-info my-3">
            <h1 class="product-description-h1">{{ product.name }}</h1>
            <p>
              {{ product.description }}
            </p>
          </div>
          <div class="product-description-pricing d-flex align-items-center">
            <div *ngIf="product.sale">
              <span>price : </span>
              <strong class="mx-2 text-decoration-line-through"
                >{{ product.price }}
              </strong>
              <span>{{ product.sale }}% OFF</span>
              <strong class="mx-2 text-danger fw-bold">{{
                product.price - (product.price * product.sale) / 100
              }}</strong>
            </div>
            <div *ngIf="!product.sale">
              <span>price : </span>
              <strong class="mx-2">{{ product.price }}
              </strong>
            </div>
            <sub class="ms-1">inclusive of VAT</sub>
          </div>
          <div class="product-description-amount">
           
            <span>Amount</span>
            <select class="m-3" name="" id="" #select>
             @for(item of getStock(product.stock) ; track $index ){
              <option value="{{item}}">{{item}}</option>
             }
            </select>
            <span
            [ngClass]="{
              'amount-stock-low': product.stock < 10, 'amount-stock-available': product.stock >= 10}"
          >
            {{ product.stock < 10? "Only " + product.stock + " Available !": "Available  " + product.stock}}
            </span>
          </div>
          <div class="product-description-vendor my-2">
            <div class="vendor-data d-flex align-items-center p-3">
              <div class="vendor-profile position-relative">
                <img src="../../../assets/images/defaultAvatar.webp" alt="" />
                <fa-icon [icon] ="faCircleCheck"  *ngIf="product.vendor.national_id"></fa-icon>

              </div>
              <div class="vendor-profile-info ms-3">
                <h5>
                  <a class="" href="">{{ product.vendor.name }}</a>
                </h5>
                <p class="vendor-email m-0 p-0">{{product.vendor.email}}</p>
      
              </div>
            </div>
          </div>
          <div class="product-adding d-flex flex-row gap-5 my-4">
            <div
            #element
              class="product-wish d-flex justify-content-center align-items-center px-4 text-light"
              (click)="addToWishlist(element)"
            >
              <i class="fa-regular fa-heart fs-6"></i>
            </div>
            <div class="product-cart">
              <button
                type="button"
                [disabled]="product.stock <= 0"
                class="btn btn-primary"
                (click)="addToCart(select)"
              >
                {{ product.stock > 0 ? "Add to Cart" : "Out of stock" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
