.stepper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.step {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: auto;
}
.step-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color-3);
  border: 2px solid var(--secondary-color);
  background-color: var(--accent-color-3);
}
.step.active .step-icon {
  color: var(--accent-color-1);
  background-color: var(--primary-color);
}
.step-title {
  margin-top: 0.5rem;
  font-weight: bold;
}
.form-step {
  display: none;
}
.form-step-active {
  display: block;
}

.text-danger > div {
  margin: 0.5rem 0;
}
.divider {
  width: 50%;
  height: 2px;
  background-color: var(--secondary-color);
  display: inline-block;
  margin: 0.5rem 0;
  overflow: hidden;
}
.user-type-option {
  cursor: pointer;
  text-align: center;
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  border-radius: 1rem;
}

.user-type-option img {
  width: 100px;
  height: 100px;
}

.user-type-option.selected {
  border: 2px solid var(--primary-color);
}

.user-type-option p {
  display: block;
  margin-top: 5px;
}
/* .googleLogin:hover,
.facebookLogin:hover {
  background-color: rgb(129 200 241);
  color: black;
  border-color: red !important;
  font-weight: bold;
  transition: 0.5s;
}
.googleLogin:hover {
  border-color: red !important;
}
.facebookLogin:hover {
  border-color: #0d6efd;
  ;
} */
  
.signup-section{
  color: #1a181828;
  font-size: 15px;
}
.signup-section::after{
  position: absolute;
  content: "";
  width: 7rem;
  background-color: #1a181828;
  height: 1px;
  top: 10px;
  left: -120px;
}
.signup-section::before{
  position: absolute;
  content: "";
  width: 7rem;
  background-color: #1a181828;
  height: 1px;
  top: 10px;
  right: -120px;
 }
 
.googlebtn , .facebookbtn{
  border-radius: 7px;
  width: 45px;
  height: 45px;
  padding: 2px;
  cursor: pointer;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
 }
.facebook{
  fill: #0794d6;
}
.gmail{
  fill: #f14336;
}
.facebookbtn:hover .facebook , .googlebtn:hover .gmail{
  cursor: pointer;
  scale: 1.1;
  fill: white;
}
.facebookbtn:hover{
  background-color: #0794d6;
}
.googlebtn:hover{
  background-color: #f14336;;
}