<app-nav></app-nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="container card custom-border ">
            <div class="card-body">
                <div class="stepper d-flex justify-content-between align-items-center mb-4">
                    <div class="step text-center" [ngClass]="{'active': currentStep === 0}">
                        <div class="step-icon btn rounded-2"><i class=" fa-solid fa-user"></i>
                        </div>
                    </div>
                    <span class="divider"></span>
                    <div class="step text-center" [ngClass]="{'active': currentStep === 1}">
                        <div class="step-icon btn rounded-2"><i class=" fa-solid fa-key"></i>
                        </div>
                    </div>
                    <span class="divider"></span>
                    <div class="step text-center" [ngClass]="{'active': currentStep === 2}">
                        <div class="step-icon btn rounded-2"><i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                </div>
                <div class="card-header primary-color bg-body border-0 text-center">
                    <h4 class="mb-0">Login </h4>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <!-- Step 1: Select User Type -->
                    @if (currentStep === 0) {
                    <div class="form-step form-step-active">
                        <div class="form-group mb-3">
                            <p class="form-label text-center text-muted">Select User Type</p>
                            <div class="d-flex justify-content-evenly">
                                <button type="button" (click)="selectUserType('customer')" class="user-type-option"
                                    [ngClass]="{'selected': loginForm.value.userType === 'customer'}">
                                    <img src="assets/images/customer.gif" alt="Customer" class="user-type-image">
                                    <p class="form-check-label">Customer</p>
                                </button>
                                <button type="button" (click)="selectUserType('vendor')" class="user-type-option"
                                    [ngClass]="{'selected': loginForm.value.userType === 'vendor'}">
                                    <img src="assets/images/vendor.gif" alt="Vendor" class="user-type-image">
                                    <p class="form-check-label">Vendor</p>
                                </button>
                                <button type="button" (click)="selectUserType('admin')" class="user-type-option"
                                    [ngClass]="{'selected': loginForm.value.userType === 'admin'}">
                                    <img src="assets/images/admin.gif" alt="Admin" class="user-type-image">
                                    <p class="form-check-label">Admin</p>
                                </button>
                            </div>
                            <div *ngIf="loginForm.controls['userType'].invalid && (loginForm.controls['userType'].dirty || loginForm.controls['userType'].touched)"
                                class="text-danger">
                                Please select a user type
                            </div>
                        </div>
                        <button type="button" class="btn primary-bg-color float-end" (click)="nextStep()">Next</button>
                    </div>
                    }
                    @else if (currentStep === 1) {
                    <!-- Step 2: Enter Credentials -->
                    <div class="form-step form-step-active">
                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email"
                                placeholder="Enter your email">
                            <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
                                class="text-danger">
                                <div *ngIf="loginForm.controls['email'].errors?.['required']">Email is required
                                </div>
                                <div *ngIf="loginForm.controls['email'].errors?.['email']">Invalid email address
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                placeholder="Enter your password">
                            <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                                class="text-danger">
                                <div *ngIf="loginForm.controls['password'].errors?.['required']">Password is
                                    required</div>
                                <div *ngIf="loginForm.controls['password'].errors?.['minlength']">Password must be
                                    at least 8 characters long</div>
                            </div>
                        </div>
                        <a routerLink="/login/forget-password"
                            class="text-muted btn-link my-3 d-block text-start cursor-pointer">Forgot Password?</a>
                        <button type="button" class="btn secondary-bg-color" (click)="prevStep()">Back</button>
                        <button type="submit" class="btn primary-bg-color float-end">Login</button>
                    </div>
                    }
                    @else if (currentStep === 2) {
                    <!-- Step 3: Review and Submit -->
                    <div class="form-step form-step-active">

                        <div class="form-group mb-3 text-center">
                            <img src="assets/images/done.gif" alt="done" width="100">
                            <p class="text-muted">Welcome! Redirecting to home page...</p>
                        </div>
                    </div>
                    }

                </form>
            </div>
        </div>
    </div>
    <!-- register section -->
    @if (currentStep!==2) {
    <div class="d-flex justify-content-center align-items-center     my-3">
        <h6 class="text-muted fw-light m-0">Don't have an account?</h6> <a routerLink="/register"
            class="text-muted btn-link mx-1  text-start cursor-pointer ">Register here </a>
    </div>}

    <!-- Toast Notification -->
    @if (showToast) {
    <app-toast [message]="toastMessage" [title]="toastTitle"></app-toast>
    }
</div>