<header class="py-1">
  <div class="container-fluid my-1">
    <div class="row align-items-center">
      <!-- logo -->
      <div class="col-sm-2 logo text-center my-2">
        <a routerLink="/">
          <img src="../../../assets/images/logo.png" class="img-fluid" />
        </a>
      </div>
      <!-- header search  -->
      <div class="col-sm-6 my-2">
        <div class="header-search d-flex align-items-center">
          <!-- the search for category -->
          <app-select-drop
            (categorySelected)="onCategorySelected($event)"
          ></app-select-drop>
          <!-- search for product in the selected category -->
          <div class="search w-100">
            <input
              type="text"
              placeholder="Search For Products..."
              #productSearch
              (keypress)="handleKeyPress($event, productSearch.value)"
            />
            <fa-icon
              [icon]="faSearch"
              class="ms-auto"
              (click)="performSearch(productSearch.value)"
            ></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-2">
        <div class="header-actions px-2">
          <div
            class="header-action-icon d-flex flex-row  justify-content-between m-0 p-0"
          >
            @if(user_role == "customer" ){
            <div class="action-icon">
              <a routerLink="/wishlist">
                <fa-icon [icon]="faHeart"></fa-icon>
                WishList
                <span *ngIf="wishListItems">{{ wishListItems }}</span>
              </a>
            </div>
            <div class="action-icon">
              <a routerLink="/checkout">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
                Cart
                <span *ngIf="cartItems">{{ cartItems }}</span>
              </a>
            </div>
            }

            <div
              class="d-flex flex-row"
              *ngIf="isAuthenticated"
              [class]="!isAuthenticated ? 'd-none' : ''"
            >
        
                <img
                  src="{{ currentUser?.image_url }}"
                  class="user-profile-img img-fluid mx-1"
                />
              <div class="selectDrop position-relative ">
                <span class="text-capitalize open-select" (click)="toggleDropdown()">
                  {{ selectedItem }}
                  <fa-icon [icon]="faChevronDown" class=""></fa-icon>
                </span>
                <div class="select-Drop" [ngClass]="{ 'd-none': !isDropdownOpen }">
                  <ul class="search-result p-0 text-capitalize">
                    <li>       <fa-icon [icon]="faUser" class=""></fa-icon>
                        <a
                        [routerLink]="
                          currentUser?.active ? '/v/overview' : '/u/account'
                        "
                        class="user-profile"
                    > 
                My Account</a>
                    </li>
                    <li>
                     
                      <a
                class=" "
                *ngIf="isAuthenticated"
                (click)="logout()"
              ><fa-icon [icon]="faRightFromBracket" class=""></fa-icon>
                Logout
              </a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="action-icon mx-5"  *ngIf="!isAuthenticated"
            >
              <a
                routerLink="/login"
                class="mx-5 text-light logout"
              >
                Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
