<div class="container-fluid">
    <div class="row py-5">
      <!-- information-section-->
      <div class="col-md-6">
       <div class="row align-items-center h-100 p-4 ">
        <h1 class="main-hero-info">
          explore all the <span class="hero-info">local brand</span> in your area.
        </h1>
       </div>
      </div>
      <!-- slider-section -->
      <div class="col-md-6">
        <div class="swiper mySwiper h-100">
          <!-- <div class="swiper-wrapper swiper-slider">
            <div class="swiper-slide">
              <img src="../../../assets/images/bag.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="../../../assets/images/clothes.jpg" alt="">
            </div>
          </div> -->
          <swiper-container centered-slides="true" autoplay-delay="2000" autoplay-disable-on-interaction="false">
            <swiper-slide class="swiper-slide  ">  
              <img src="../../../assets/images/clothes.jpg" alt="product-Name">
            </swiper-slide>
            <swiper-slide class="swiper-slide  ">  
              <img src="../../../assets/images/bag.jpg" alt="product-Name">
            </swiper-slide>
            <swiper-slide class="swiper-slide  ">  
              <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </div>
  </div>
  