<div class="container text-capitalize">
  <h1 class="my-4 py-5">My Cart</h1>
  <div class="row">
    <div class="wishList-section px-2 my-5 px-2" *ngIf="isAuthenticated">
      <div class="wishList-header d-flex flex-row align-items-center gap-2 p-4">
        <h1>Cart Items</h1>
        <span>( {{ customerCart.length }} Items)</span>
      </div>
      <div class="wishList-content p-4 d-flex">
        @if(customerCart.length > 0){
        <div class="row justify-content-start">
          <div class="col-lg-8 col-md-6">
            @for (product of customerCart; track $index) {
            <div class="col-md-12 mb-3">
              <div class="d-flex flex-column">
                <div
                  class="big-deal-product-data d-flex flex-row flex-wrap gap-2 align-items-center p-4"
                >
                  <div class="big-deal-product-slider">
                    <div class="swiper mySwiper big-deal-product-swiper">
                      <div class="swiper-wrapp" id="big-deal-product-wrapper">
                        <swiper-container pagination="true">
                          @for (image of product.images; track $index) {
                          <swiper-slide
                            class="swiper-slide big-deal-product-swiper-slider"
                          >
                            <img
                              src="http://127.0.0.1:8000/storage/{{
                                image.image
                              }}"
                              alt="product-Name"
                            />
                          </swiper-slide>
                          }
                        </swiper-container>
                      </div>
                    </div>
                  </div>
                  <div class="containter">
                    <div class="row flex-wrap">
                      <div
                        class="big-deal-product-detail d-flex flex-column justify-content-between"
                      >
                        <div class="big-deal-detail-header">
                          <div class="big-deal-detail-data">
                            <span> {{ product.name }} </span>
                          </div>
                          <div class="big-deal-info d-flex flex-column my-2">
                            <span class="my-2 seller-name"
                              ><span class="sold">Sold By : </span>
                              {{ product.vendor.name }}</span
                            >
                            <div class="product-info-price">
                              <div class="big-deal-price">
                                <span class="me-2">EGP</span>
                                <strong class="fs-4">{{
                                  product.price
                                }}</strong>
                              </div>
                            </div>
                          </div>
                          <div class="product-amount-price">
                            <div
                              class="product-info-amount d-flex align-items-center"
                            >
                              <span class="me-2">Quantity:</span>
                              <select
                                #select
                                class="form-select w-25"
                                (change)="update(product, +select.value)"
                              >
                                @for(item of getstock(product.stock) ; track
                                $index){ @if(item ==
                                product.cart_table.quantity){
                                <option selected value="{{ item }}">
                                  {{ item }}
                                </option>

                                }@else {
                                <option value="{{ item }}">{{ item }}</option>

                                } }
                              </select>
                            </div>
                          </div>
                        </div>
                        <div
                          class="wishlist-actions d-flex flex-row justify-content-between text-capitalize mt-4"
                        >
                          <button
                            class="btn btn-wishlist"
                            (click)="AddToWishlist(product.id)"
                          >
                            <fa-icon
                              class="animated-heart"
                              [icon]="faHeart"
                            ></fa-icon>
                            Add to WishList
                          </button>

                          <button
                            class="btn btn-wishlist-delete"
                            (click)="DeleteFromCart(product.id)"
                          >
                            <fa-icon
                              class="animated-heart"
                              [icon]="faTrashCan"
                            ></fa-icon
                            >Remove
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
          <div class="col-lg-4 col-md-6 summary">
            <!-- <app-summary-order [cartProduct]="customerCart"></app-summary-order> -->
            <div class="container">
              <div class="row order-section">
                <div class="order-summery">
                  <h1>order summery</h1>
                </div>
                <div class="total-details d-flex justify-content-between my-3">
                  <span
                    >Subtotal ( {{ getOrderTotalQuantities() }} items )</span
                  >
                  <span class="price"
                    >{{ getOrderTotalPrice() }} <sub>EGP</sub></span
                  >
                </div>
                <div class="totalshiping d-flex justify-content-between my-3">
                  <span>Shipping Fee</span>
                  <span class="price"
                    >{{ getOrderTotalPrice() * 0.2 }} <sub>EGP</sub></span
                  >
                </div>
                <div class="tatla-price d-flex justify-content-between my-3">
                  <div class="total-price-info my-3">
                    <span class="fw-bold">Total</span>
                    <sub class="mx-2">inclusive of VAT</sub>
                  </div>
                  <div class="total-price-order my-3">
                    <span class="price"
                      >{{ getOrderTotalPrice() + getOrderTotalPrice() * 0.2 }}
                      <sub>EGP</sub></span
                    >
                  </div>
                </div>

                <div class="checkout-btn text-center my-4">
                  <button class="btn" type="submit" (click)="CreateOrder()">
                    ckeckout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        } @else {

        <div class="col-lg-12 col-md-12 w-100">
          <div
            class="empty-cart my-2 d-flex flex-column justify-content-center align-items-center"
          >
            <fa-icon class="my-2" [icon]="faShoppingBasket"></fa-icon>
            <p class="text-capitalize ">Your cart is Empty!</p>
            <span class="my-3"
              >Looks like you haven't added anything to your cart yet
            </span>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="wishList-section px-2 py-4 my-5" *ngIf="!isAuthenticated">
      <h3 class="text-center text-capitalize my-3">
        Please login first to use this feature
      </h3>
      <button class="btn btn-primary p3 mx-auto d-block">
        <a routerLink="/login" class="text-light fw-medium">Login</a>
      </button>
    </div>
  </div>
</div>
