<div class="container text-capitalize my-5">
    <div class="row">
      <div class="wishList-section px-2 ">
          <div class="wishList-header d-flex flex-row align-items-center gap-2 p-4">
              <h1>Cart Items</h1>
              <span>( 3 Items)</span>
          </div>
          <div class="wishList-content p-4">
              <div class="row justify-content-center">
                  <div class="col-lg-8 col-md-6">
                     <div class="col-md-12 my-2">
                  <div class="d-flex flex-column">
                      <div class="big-deal-product-data d-flex flex-row flex-wrap  gap-2  align-items-center p-4">
                        <div class="big-deal-product-slider">
                          <div class="swiper mySwiper big-deal-product-swiper">
                            <div class="swiper-wrapp" id="big-deal-product-wrapper">
                               <swiper-container pagination="true" >
                                <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                                  <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                                </swiper-slide>
                                <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                                  <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                                </swiper-slide>
                                <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                                  <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                                </swiper-slide>
                              </swiper-container>                      
                            </div>
                          </div>
                        </div>
                        <div class="containter">
                            <div class="row flex-wrap  ">
                                <div class="big-deal-product-detail d-flex flex-column justify-content-between">
                                    <div class="big-deal-detail-header">
                                      <div class="big-deal-detail-data">
                                        <span>The Ordinary Niacinamide 10% And Zinc 1% Clear 30ml</span>
                                      </div>
                                      <div class="big-deal-info d-flex flex-column my-2">
                                        <span class="my-2 seller-name"><span class="sold">Sold By : </span> sara magdi</span>
                                        <div class="product-info-price">
                                            <div class="big-deal-price ">
                                                <span class="me-2">EGP</span>
                                                <strong class="fs-4">450</strong>
                                              </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="product-amount-price  ">
                                      <div class="product-info-anmount d-flex align-items-center">
                                          <span class="me-2"> Quntity : </span>
                                            <select class="form-select " aria-label="Default select example" name="" id="">
                                                <option selected value="1">1</option>
                                            </select>
                                      </div>
                                  </div>
                                    <div class="wishlist-actions d-flex flex-row justify-content-between text-capitalize mt-4">
                                        
                                      <button class="btn btn-wishlist" (click)="AddToWishlist()">
                                        <fa-icon class="animated-heart" [icon]="faHeart" ></fa-icon> Move to WishList    
                                      </button>

                                      <button class="btn btn-wishlist-delete" (click)="DeleteFromCart()">
                                        <fa-icon class="animated-heart" [icon]="faTrashCan" ></fa-icon>Remove     
                                      </button>
                                    </div>
                                    
                                  </div>
                                 
                            </div>
                        </div>
                        
                      </div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <app-summary-order></app-summary-order>
                </div>

              </div>
          </div>
      </div>
  </div>
  </div>
  