<div *ngIf="loading" class="d-flex justify-content-center align-items-center">
    <p-progressSpinner styleClass="w-2rem h-2rem" strokeWidth="4" fill="var(--surface-ground)"
        animationDuration=".5s"></p-progressSpinner>
</div>
<div *ngIf="!loading" class="card overflow-auto">
    <p-table #dt [value]="orders" [paginator]="false" [rows]="pageSize"
        [globalFilterFields]="['id', 'customer_name', 'status']" [tableStyle]="{'min-width': '6rem'}"
        [(selection)]="selectedOrders" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
        [totalRecords]="totalItems">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="my-2">Manage Orders
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onFilter($event)"
                            placeholder="Search...id, name, status" />
                    </span>
                </h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 2rem" scope="col">#</th>
                <th scope="col">ID</th>
                <th pSortableColumn="customerName" style="min-width: 15rem" scope="col">Customer <p-sortIcon
                        field="customerName"></p-sortIcon></th>
                <th pSortableColumn="status" style="min-width: 7rem" id="status">Status <p-sortIcon
                        field="status"></p-sortIcon></th>
                <th pSortableColumn="total" style="min-width: 7rem" id="total">Total <p-sortIcon
                        field="total"></p-sortIcon></th>
                <th pSortableColumn="created_at" scope="col" style="min-width: 10rem">Date <p-sortIcon
                        field="created_at"></p-sortIcon></th>
                <th scope="col" style="min-width: 10rem">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order let-i="rowIndex">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ order.id }}</td>
                <td>{{ order.customer_name }}</td>
                <td>
                    <p-dropdown [options]="statuses" [(ngModel)]="order.status"
                        (onChange)="updateStatus(order.id, $event.value)" appendTo="body" [style]="{'z-index': 1000}">
                    </p-dropdown>
                </td>
                <td>{{ order.total | currency:'USD' }}</td>
                <td>{{ order.created_at | date }}</td>
                <td>

                    <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteOrder(order.id)">
                        <span class="visually-hidden">Delete Order</span>
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" class="z-1">
            <div class="d-flex justify-content-center align-items-center gap-5">
                <p>In total there are {{ orders.length }} orders.</p>
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="loadPage($event)">
                </ngb-pagination>
            </div>
        </ng-template>
    </p-table>
</div>

<!--  Modal for displaying and editing order details-->
<ng-template #orderForm let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ editOrder.id ? 'Edit' : 'Add' }} Order</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="updateOrder()">
            <div class="mb-3">
                <label for="customer" class="form-label">Customer:</label>
                <select id="customer" class="form-control" [(ngModel)]="editOrder.customer_id" name="customer_id">
                    <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.name }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label>
                <select id="status" class="form-control" [(ngModel)]="editOrder.status" name="status">
                    <option *ngFor="let status of statuses" [value]="status.value">{{ status.label }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="total" class="form-label">Total:</label>
                <input type="number" id="total" class="form-control" [(ngModel)]="editOrder.total" name="total" />
            </div>
            <button type="submit" class="btn primary-bg-color">{{ editOrder.id ? 'Update' : 'Add' }}</button>
        </form>
    </div>
</ng-template>