<div class="container-fluid my-5">
  <div class="row align-items-center">
    <div class="col-md-4 gx-0 my-5">
        <div class="light-section">
        </div>
    </div>
    <div class="col-md-5 my-5">
      <div class="d-flex flex-column align-items-center  ">
       <span class=" text-uppercase fw-bold fs-1">perfumes</span>
       <span class=" text-uppercase fw-bold fs-1">rings</span>
       <span class=" text-uppercase fw-bold fs-1">Blankets</span>
       <span class=" text-uppercase fw-bold fs-1">Handmade Gifts</span>
      </div>
    </div>
    <div class="col-md-3 gx-0 my-5">
      <div class="dark-section">
      </div>
    </div>
  </div>
 </div>