<div class="h6 text-uppercase">My Orders</div>
<hr class="hr" />
@for (order of userOrders; track $index) {
<div class="order-card">
  <div class="d-flex flex-wrap border-bottom position-relative">
    <div class="header">
      <h6>ORDER PLACED</h6>
      <P>{{ getOrderDate(order.created_at) }}</P>
    </div>
    <div class="header">
      <h6>TOTAL</h6>
      <P> {{ order.total }} EGP</P>
    </div>
    <div class="header">
      <h6>Status</h6>
      <p>{{ order.status }}</p>
    </div>
    <div class="header">
      <h6>Delivery <i class="fa-solid fa-truck primary-color"></i></h6>
      <p>November 2022</p>
    </div>
    <div class="header">
      <h6>SHIPPING TO</h6>
      <P>El-Boutique</P>
    </div>

  </div>
  @for (product of order.products; track $index) {
  <div class="order-item">
    <div class="d-flex">
      <div class="order-img">
        <img src="https://via.placeholder.com/150" alt="order image" />
      </div>
      <div class="order-details">
        <div class="d-flex justify-content-between">
          <h6>{{ product.name }}</h6>
          <!-- <button type="button"  -->
          <button
            type="button"
            class="view-product btn btn-link p-0 border-0"
            [routerLink]="['/products', product.id]"
          >
            <i class="fa-solid fa-eye primary-color"></i> View Product
          </button>
        </div>
        <div class="d-flex">
          <p>{{ product.price }} EGP</p>
          <p class="ms-3 fw-bold">x <span>1</span></p>
        </div>
        <p class="text-muted m-0">
          {{ product.description }}
        </p>
        @if (order.status === "arrived") {
          <button class="Btn header" data-bs-toggle="modal" data-bs-target="#modalId">
            <i class="fa-solid fa-comment-dots"></i>
            <div class="text">Review</div>
          </button>
          <app-add-review  [product_id]="product.id" [customer_id]="getUser()"></app-add-review>
          <!-- <div class="d-flex">
          </div> -->
        }

      </div>
    </div>
  </div>
  }
</div>
}@empty {
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="empty-wish my-2 text-center">
        <fa-icon [icon]="faHeartBroken"></fa-icon>
        <p>Your Orders is Empty!</p>
        <span class="my-3 text-capitalize">
          Looks like you haven't Make any order yet
        </span>
      </div>
    </div>
  </div>
</div>
}
