<div class="h6 text-uppercase">My Wish List</div>
<hr class="hr">
<div class="card">
    <div class="ms-auto small">
        item added <span>30 April 2022</span>
    </div>
    <div class="d-flex gap-3  my-2">
        <div class="img-container">
            <img src="https://via.placeholder.com/150" alt="wish list image">
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <h6 class="m-0">Product Name</h6>
                <button type="button" class="view-product btn btn-link p-0  border-0"><i
                        class="fa-solid fa-eye primary-color"></i>
                    View
                    Product</button>
            </div>
            <div class="desc">
                <p class="text-muted m-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque dicta porro
                    atque vitae
                    esse excepturi fugiat optio rem quia cupiditate quae, et illo debitis facere? Autem, repellat
                    doloribus.
                    Quas, laudantium! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum labore iusto
                    corrupti repudiandae expedita amet natus veritatis esse nulla qui tenetur perferendis facilis
                    placeat inventore porro iste, blanditiis dicta nihil!</p>
            </div>
            <p class="fw-semibold">EGP 100</p>
            <div class="d-flex justify-content-evenly">
                <div class=" custom-btn-1">Add to cart</div>
                <div class="custom-btn-2">
                    remove
                </div>
            </div>
        </div>
    </div>
</div>