   <div class="container">
    <div class="row flex-row align-items-center justify-content-center">
        <div class="col-md-4">
           <div class="d-flex flex-column justify-content-center align-items-center">
            <swiper-container class="myswiper2 swiper-horizontal-on-small" space-between="20" slides-per-view="3"  direction="vertical">
                <swiper-slide><img src="../../../assets/images/bag.jpg" alt="product-Name"></swiper-slide>
                <swiper-slide><img src="../../../assets/images/bag.jpg" alt="product-Name"></swiper-slide>
                <swiper-slide><img src="../../../assets/images/bag.jpg" alt="product-Name"></swiper-slide>
              </swiper-container>
           </div>
         </div>
        <div class="col-md-8">
            <div class="swiper">
                <swiper-container class="myswiper"  pagination="true" loop="true" thumbs-swiper=".myswiper2" >
                    <swiper-slide class="swiperslider1"><img src="../../../assets/images/bag.jpg" alt="product-Name"></swiper-slide>
                    <swiper-slide class="swiperslider1"><img src="../../../assets/images/bag.jpg" alt="product-Name"></swiper-slide>
                    <swiper-slide class="swiperslider1"><img src="../../../assets/images/bag.jpg" alt="product-Name"></swiper-slide>
                  </swiper-container>
            </div>
        </div>
          
        
    </div>
   </div>
      
