   <div class="container">
    <div class="row flex-row">
        <div class="col-md-4">
            <swiper-container class="myswiper2" space-between="20" slides-per-view="3"  direction="vertical">
                <swiper-slide><img src="../../../assets/images/bigdeals.avif" alt="product-Name"></swiper-slide>
                <swiper-slide><img src="../../../assets/images/bigdeals.avif" alt="product-Name"></swiper-slide>
                <swiper-slide><img src="../../../assets/images/bigdeals.avif" alt="product-Name"></swiper-slide>
              </swiper-container>
         </div>
        <div class="col-md-8">
            <swiper-container  navigation = "true" loop="true" thum-swiper="myswiper2">
                <swiper-slide class="swiperslider1"><img src="../../../assets/images/bigdeals.avif" alt="product-Name"></swiper-slide>
                <swiper-slide class="swiperslider1"><img src="../../../assets/images/bigdeals.avif" alt="product-Name"></swiper-slide>
                <swiper-slide class="swiperslider1"><img src="../../../assets/images/bigdeals.avif" alt="product-Name"></swiper-slide>
              </swiper-container>
        </div>
          
        
    </div>
   </div>
      
