<section class="py-5">
	<div class="container">
		<div class="row align-items-center gx-4">
			<div class="col-md-5">
				<div class="ms-md-3 ms-lg-5"><img class="img-fluid rounded-3" src="../../assets/images/logo.png"></div>
			</div>
			<div class="col-md-6 offset-md-1">
				<div class="ms-md-2 ms-lg-5">
					<h2 class="display-5 header">About Us</h2>
                    <p class="header-p">
                        At elboutique, we believe in the power of local brands and the unique products they offer. Our mission is to
                        connect customers with the finest local brands in Egypt, providing a platform for these businesses to
                        showcase their products to a wider audience. We are dedicated to promoting local talent and helping brands
                        grow by offering an easy-to-use, comprehensive e-commerce platform.
                      </p>				</div>
			</div>
		</div>

        <div class="row my-3 text-center">
            <div class="col-md-3">
              <div class="box p-3">
                <fa-icon [icon]='faShippingFast' class="fa-2x"></fa-icon>
                <p>Offer free shipping </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box p-3">
                <fa-icon [icon]="faTags" class="fa-2x"></fa-icon>
                <p>Coupons and discounts</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box p-3">
                <fa-icon [icon]="faTruck" class="fa-2x"></fa-icon>
                <p>Fast delivery</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box p-3">
                <fa-icon [icon]="faBox" class="fa-2x"></fa-icon>
                <p>High-quality products</p>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-12 vendor-section p-5" >
              <h2 class="text-center">Become a Vendor</h2>
              <p class="text-center">
                If you want to join us as a vendor, please register as a vendor and wait for your account to be activated by our admin team. 
                Once activated, you will be able to add your products and start selling on elboutique.
              </p>
              <div class="text-center mt-3">
                <a routerLink="/register" class="btn btn-vendor">Register as Vendor</a>
              </div>
            </div>
          </div>
	</div>
</section>