.select-Drop{width: 300px; height: auto; box-sizing: border-box;
position: absolute; top: 145%;  background: #ffff;
z-index: 20; box-shadow: 0 3px 6px rgb( 0 0 0 / 20%);
padding: 15px;
left: -11px;
}

.search-feild input{
 width: 100%;
 height: 40px;
 border: 2px solid var(--accent-color-1);
 padding: 5px;
}
.search-feild input:focus-visible{
    outline: none;
}

.search-result{
    width: 100%;
    margin: 0;
    padding: 10px 0px ;
    max-height: 200px;
    overflow-y: scroll;
}
.search-result li{
    list-style: none;
    font-size: 18px ;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}
.search-result::-webkit-scrollbar{ 
width: 5px !important; 
}

.search-result li:hover{
    background-color: var(--accent-color-1);

}

/* open select  */

.open-select{
    transition: all .3s ease 0s;
    display: block;
    padding: 10px 0px;
    position: relative;
    z-index: 10;
}

.selectDrop{
    width: 150px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}


.selectDrop fa-icon{
    position: absolute;
  top: 15px;
  right: 43px;
  font-size: 0.7rem;
}

.active{
    background-color: var(--accent-color-1);
    color: var(--accent-color-2);
}