<div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-4 my-3">
        <a href="#">
          <div class="d-flex flex-column">
            <div class="products-data p-4">
              <div class="products-tags d-flex flex-row justify-content-between align-items-center">
                <div class="products-tag">
                  <span class="text-capitalize">best seller</span>
                </div>
                <div class="products-wish">
                  <i class="fa-regular fa-heart"></i>
                </div>
              </div>
              <div class="products-slider">
                <swiper-container pagination="true" >
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                </swiper-container>
              </div>
              <div class="products-detail">
                <div class="products-detail-header">
                  <div class="products-detail-data">
                    <span>The Ordinary Niacinamide 10% And Zinc 1% Clear 30ml</span>
                  </div>
                  <div class="products-info d-flex flex-column my-2">
                    <span class="my-2">sara magdi</span>
                    <div class="products-price d-flex align-items-center">
                      <span class="me-2">EGP</span>
                      <strong class="fs-4">450</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 my-3">
        <a href="#">
          <div class="d-flex flex-column">
            <div class="products-data p-4">
              <div class="products-tags d-flex flex-row justify-content-between align-items-center">
                <div class="products-tag">
                  <span class="text-capitalize">best seller</span>
                </div>
                <div class="products-wish">
                  <i class="fa-regular fa-heart"></i>
                </div>
              </div>
              <div class="products-slider">
                <swiper-container pagination="true" >
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                </swiper-container>
              </div>
              <div class="products-detail">
                <div class="products-detail-header">
                  <div class="products-detail-data">
                    <span>The Ordinary Niacinamide 10% And Zinc 1% Clear 30ml</span>
                  </div>
                  <div class="products-info d-flex flex-column my-2">
                    <span class="my-2">sara magdi</span>
                    <div class="products-price d-flex align-items-center">
                      <span class="me-2">EGP</span>
                      <strong class="fs-4">450</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 my-3">
        <a href="#">
          <div class="d-flex flex-column">
            <div class="products-data p-4">
              <div class="products-tags d-flex flex-row justify-content-between align-items-center">
                <div class="products-tag">
                  <span class="text-capitalize">best seller</span>

                </div>
                <div class="products-wish">
                  <i class="fa-regular fa-heart"></i>
                </div>
              </div>
              <div class="products-slider">
                <swiper-container pagination="true" >
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                </swiper-container>
              </div>
              <div class="products-detail">
                <div class="products-detail-header">
                  <div class="products-detail-data">
                    <span>The Ordinary Niacinamide 10% And Zinc 1% Clear 30ml</span>
                  </div>
                  <div class="products-info d-flex flex-column my-2">
                    <span class="my-2">sara magdi</span>
                    <div class="products-price d-flex align-items-center">
                      <span class="me-2">EGP</span>
                      <strong class="fs-4">450</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 my-3">
        <a href="#">
          <div class="d-flex flex-column">
            <div class="products-data p-4">
              <div class="products-tags d-flex flex-row justify-content-between align-items-center">
                <div class="products-tag">
                  <span class="text-capitalize">best seller</span>
                </div>
                <div class="products-wish">
                  <i class="fa-regular fa-heart"></i>
                </div>
              </div>
              <div class="products-slider">
                <swiper-container pagination="true" >
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                </swiper-container>
              </div>
              <div class="products-detail">
                <div class="products-detail-header">
                  <div class="products-detail-data">
                    <span>The Ordinary Niacinamide 10% And Zinc 1% Clear 30ml</span>
                  </div>
                  <div class="products-info d-flex flex-column my-2">
                    <span class="my-2">sara magdi</span>
                    <div class="products-price d-flex align-items-center">
                      <span class="me-2">EGP</span>
                      <strong class="fs-4">450</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 my-3">
        <a href="#">
          <div class="d-flex flex-column">
            <div class="products-data p-4">
              <div class="products-tags d-flex flex-row justify-content-between align-items-center">
                <div class="products-tag">
                  <span class="text-capitalize">best seller</span>
                </div>
                <div class="products-wish">
                  <i class="fa-regular fa-heart"></i>
                </div>
              </div>
              <div class="products-slider">
                <swiper-container pagination="true" >
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                  <swiper-slide class="swiper-slide big-deal-product-swiper-slider ">  
                    <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                  </swiper-slide>
                </swiper-container>
              </div>
              <div class="products-detail">
                <div class="products-detail-header">
                  <div class="products-detail-data">
                    <span>The Ordinary Niacinamide 10% And Zinc 1% Clear 30ml</span>
                  </div>
                  <div class="products-info d-flex flex-column my-2">
                    <span class="my-2">sara magdi</span>
                    <div class="products-price d-flex align-items-center">
                      <span class="me-2">EGP</span>
                      <strong class="fs-4">450</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="d-flex flex-row align-items-center justify-content-end my-4">
        <div class="big-deals-btn">
          <a href="#" class="me-4">See More </a>
        </div>
      </div>
    </div>
  </div>
  