.products-data {
    background-color: #ffff;
    border-radius: 0.5rem;
}
.products-detail-data {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 500;
    color: #1a1818;
    text-overflow: ellipsis;
  }
  a {
    cursor: pointer;
    color: #1a1818;
  }
  
  .big-deal-product-swiper {
    width: 100%;
  }
  .products-slider{
    margin-bottom: 1rem;
  }
  .big-deal-product-swiper-slider img {
    display: block;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
    padding: 5px;
  }
  .products-tag {
    margin: 1rem;
    overflow: hidden;
    display: flex;
    -moz-box-align: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #ffff;
    padding: 0.4rem;
    margin: 0;
  }
  .products-tag span{
    font-size: 0.9rem;
  }
  
.big-deals-btn a{
    font-size: 1.2rem;
    font-weight:500;
}
.big-deal-price-span strong {
  font-weight: 600;
}

.products-wish {
  /* width: 2.5rem;
  height: 2.5rem; */
  width: 2rem;
  height: 2rem;
  -moz-box-align: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #ffff;
  padding: 0.4rem 0.5rem;
}

/*  */

.con-like {
  color: var(--accent-color-2);
  position: relative;
}
.con-like-cart{
  color:var(--accent-color-1);
  position: relative;
}

.con-like .like,
.con-like-cart .like-cart {
  position: absolute;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  top: -7px;
  right: -9px;
}

.con-like .outline,
.con-like .filled {
  fill: var(--accent-color-2);
  position: absolute;
}
.con-like-cart .outline,
.con-like-cart .filled {
  fill: var(--accent-color-1);
  position: absolute;
}

.con-like .filled,
.con-like-cart .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .poly {
  stroke: var(--accent-color-2);
  fill: var(--accent-color-2);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block;
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}


.seemorelink{
  margin-right: 1.4rem;
}
@media only screen and (max-width: 450) {
 
  .seemorelink{
    margin-right: none;
  }
}