<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-4 my-3" *ngFor="let product of products">
      <a href="#">
        <div class="d-flex flex-column">
          <div class="products-data p-4">
            <div
              class="products-tags d-flex flex-row justify-content-between align-items-center"
            >
              <div class="products-tag">
                <span class="text-capitalize">Featured!</span>
              </div>
              <div class="products-wish">
                <i class="fa-regular fa-heart"></i>
              </div>
            </div>
            <div class="products-slider">
              <swiper-container pagination="true">
                <swiper-slide
                  *ngFor="let image of product.images"
                  class="swiper-slide big-deal-product-swiper-slider"
                >
                  <img
                    [src]="'http://localhost:8000/storage/' + image.image"
                    alt="product-Name"
                  />
                </swiper-slide>
              </swiper-container>
            </div>
            <div class="products-detail">
              <div class="products-detail-header">
                <div class="products-detail-data">
                  <span>{{ product.name }}</span>
                </div>
                <div class="products-info d-flex flex-column my-2">
                  <span class="my-2">{{ product.vendor.name }}</span>
                  <div class="products-price d-flex align-items-center">
                    <span class="me-2">EGP</span>
                    <strong class="fs-4">{{ product.price }}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="d-flex flex-row align-items-center justify-content-end my-4">
      <div class="big-deals-btn">
        <a routerLink="/categories/all" class="me-4">See More </a>
      </div>
    </div>
  </div>
</div>
