<div class="container product-rating-section my-5 " *ngIf="reviews.length">
    <h1>Product ratings and reviews</h1>
    <div class="row border-top">
        <div class="col-md-5 my-3">
            <div class="average-rating-section">
                <h1 class="mb-3">Average rating</h1>
                <div class="rating-section d-flex flex-column gap-1  ">
                  <strong>{{ averageRating }} <sub>out of 5</sub></strong>
                    <!-- add out of the total ratuing data  -->
                    <div class="average-rating-stars">
                        <fa-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                                icon]="faStar"
                                [ngClass]="{'active-star': i < rating, 'inactive-star': i >= rating}">
                        </fa-icon>
                      </div>

                    <p class="">at the total rate of <span class="fw-bold">{{reviews.length}}</span> reviwe</p>
                </div>
                <div class="rating-review-section">

                </div>

            </div>
        </div>
        <div class="col-md-7 my-3">
            <div class="product-review-section">
              <h1>See All The Reviews</h1>
                <div  *ngFor="let review of reviews"  class="product-review-card mt-2">
                    <div class="reviewer-data d-flex gap-3 my-2">
                        <div class="reviewer-profile">
                            <img [src]="review.customer.image_url"  alt="">
                        </div>
                        <div class="reviewer-info ">
                            <h1 class="mb-0">{{ review.customer.name }}</h1>
                            <p class="mb-0">{{ review.created_at | date }}</p>
                        </div>
                    </div>
                    <div class="review-rate my-3">
                      <fa-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                        [icon]="faStar"
                        [ngClass]="{'active-star': i < review.rate, 'inactive-star': i >= review.rate}">
                      </fa-icon>
                    </div>
                    <div class="rewiew-content">
                      <p>{{ review.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
