<div class="container-fluid my-5">
    <div class="row">
      <div class="row">
        <div class="shop-now-header">
          <h2 class="fw-bold ms-3">Shop Now</h2>
        </div>
        <div class="shop-now-slider">
          <div class="swiper mySwiper shop-now-swiper">
            <div class="">
              <swiper-container pagination="true"  slides-per-view="3" >
                <swiper-slide class="swiper-slide shop-now-swiper-slider">  
                  <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                </swiper-slide>
                <swiper-slide class="swiper-slide shop-now-swiper-slider">  
                  <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                </swiper-slide>
                <swiper-slide class="swiper-slide shop-now-swiper-slider">  
                  <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                </swiper-slide>
                <swiper-slide class="swiper-slide shop-now-swiper-slider">  
                  <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                </swiper-slide>
                <swiper-slide class="swiper-slide shop-now-swiper-slider">  
                  <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                </swiper-slide>
                <swiper-slide class="swiper-slide shop-now-swiper-slider">  
                  <img src="../../../assets/images/bigdeals.avif" alt="product-Name">
                </swiper-slide>
              </swiper-container>
        </div>
      </div>
    </div>
    
              
            </div>
    </div>
</div>
  