@if (loading) {
<p-progressSpinner styleClass="w-2rem h-2rem d-flex justify-content-center align-items-center" strokeWidth="4"
    fill="var(--surface-ground)" animationDuration=".5s" />}@else {
<div class="h6 text-uppercase">Customers</div>
<hr class="hr">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (customer of customers; track $index) {
            <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone || '-' }}</td>
                <td>{{ customer.addresses || '-' }}</td>
                <td>
                    <button (click)="deleteCustomer(customer.id)" class="btn btn-danger"><i
                            class="fa-solid fa-trash"></i> <span class="visually-hidden">Delete</span></button>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>}