.table-responsive {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  border: 1px solid var(--secondary-color);
  max-width: 900px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--primary-color);
  border-radius: 0.25rem;
  border: 1px solid var(--secondary-color);
  overflow: hidden;
  font-size: 0.75rem;
  background-color: var(--secondary-color);
}
