<div class="h6 text-uppercase">Personal Information</div>
<hr class="hr">
<div class="row">

  <form [formGroup]="profileForm" class="form row my-3">
      <div class="d-flex justify-content-between mb-3">
          <div class="profile-img-container">
              <img [src]="profileImage" alt="profile image">
              <button *ngIf="isEditable" type="button" class="icon" (click)="openImageInput()">
                  <i class="fa-solid fa-camera"></i>
                  <span class="visually-hidden">image</span>
              </button>
          </div>
          <button type="button" class="btn btn-link primary-color text-decoration-none" (click)="toggleEdit()">
              <i class="fa-solid fa-pen-to-square"></i> Change Profile Information
          </button>
      </div>

        <input type="file" name="image" id="image" hidden #imageInput (change)="onImageChange($event)">
        <div class="d-flex gap-3">
            <!-- first name -->
            <div class="col form-group">
                <label for="name">First Name</label>
                <input type="text" class="form-control" id="name" formControlName="name"
                    placeholder="Enter your first name" aria-label="First Name" [(ngModel)]="user.data.name">
                <div *ngIf="profileForm.get('name')?.invalid && profileForm.get('name')?.touched" class="text-danger">
                    First name is required and must be at least 2 characters.
                </div>
            </div>

            <!-- email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email"
                    placeholder="Enter your email" aria-label="Email" [(ngModel)]="user.data.email">
                <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="text-danger">
                    Email is required and must be a valid email address.
                </div>
            </div>
        </div>

        <div *ngFor="let phone of user.data.phones; let i = index" class="d-flex gap-3">
          <div class="form-group">
            <label for="phone{{i}}">Phone {{i + 1}}</label>
            <input type="text" class="form-control" id="phone{{i}}" formControlName="phone{{i}}"
                placeholder="Enter your phone number" aria-label="Phone" [(ngModel)]="phone.phoneNumper">
            <div *ngIf="profileForm.get('phone' + i)?.invalid && profileForm.get('phone' + i)?.touched" class="text-danger">
              Phone is required and must be a valid 10-digit number.
            </div>
          </div>
        </div>

        <div *ngFor="let address of user.data.addresses; let i = index" class="address-section">
            <div class="d-flex gap-3">
                <div class="form-group">
                    <label for="governorate{{i}}">Governorate</label>
                    <input type="text" class="form-control" id="governorate{{i}}" formControlName="governorate{{i}}"
                        placeholder="Enter your governorate" aria-label="Governorate" [(ngModel)]="address.governorate">
                </div>
                <div class="form-group">
                    <label for="city{{i}}">City</label>
                    <input type="text" class="form-control" id="city{{i}}" formControlName="city{{i}}"
                        placeholder="Enter your city" aria-label="City" [(ngModel)]="address.city">
                </div>
            </div>

            <div class="d-flex gap-3">
                <div class="form-group">
                    <label for="street{{i}}">Street</label>
                    <input type="text" class="form-control" id="street{{i}}" formControlName="street{{i}}"
                        placeholder="Enter your street" aria-label="Street" [(ngModel)]="address.street">
                </div>
                <div class="form-group">
                    <label for="houseNumber{{i}}">House Number</label>
                    <input type="text" class="form-control" id="houseNumber{{i}}" formControlName="houseNumber{{i}}"
                        placeholder="Enter your house number" aria-label="House Number" [(ngModel)]="address.house_number">
                </div>
            </div>

            <hr *ngIf="user.data.addresses.length > 1" class="w-50">
        </div>

        <button *ngIf="isEditable" type="button" class="btn primary-bg-color w-auto ms-auto" (click)="saveProfile()">Save</button>
    </form>
</div>
