<!-- sidebar.component.html -->

<div class="sidebar primary-bg-color h-100">
    <div class="logo-details" [routerLink]="['/']">
        <i class="text-white fa-solid fa-store"></i>
        <span class="logo-light">Elboutique</span>
    </div>
    <hr class="hr" />
    <div class="nav-links">
        @for (link of navLinks; track $index) {
        <a [routerLink]="link.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item ">
            <span class="icon" [innerHTML]="link.icon"></span>
            <span class="links_name">{{ link.name }}</span>
        </a>
        }

        <a type="button" class="item" (click)="logout()">
            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
            <span class="links_name">Logout</span>
        </a>
    </div>

</div>